NetBeansProjects/NegotiationWeb/src/conf/xml-resources/web-service-references/ServerService/wsdl/localhost_8080/Server/ServerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.negotiation/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.negotiation/" name="ServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.negotiation/" schemaLocation="http://localhost:8080/Server/ServerService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="send">
<part name="parameters" element="tns:send"/>
</message>
<message name="getInterlocutors">
<part name="parameters" element="tns:getInterlocutors"/>
</message>
<message name="getInterlocutorsResponse">
<part name="parameters" element="tns:getInterlocutorsResponse"/>
</message>
<message name="getMessageFrom">
<part name="parameters" element="tns:getMessageFrom"/>
</message>
<message name="getMessageFromResponse">
<part name="parameters" element="tns:getMessageFromResponse"/>
</message>
<message name="getAllData">
<part name="parameters" element="tns:getAllData"/>
</message>
<message name="getAllDataResponse">
<part name="parameters" element="tns:getAllDataResponse"/>
</message>
<portType name="ServerService">
<operation name="add">
<input wsam:Action="http://ws.negotiation/ServerService/addRequest" message="tns:add"/>
<output wsam:Action="http://ws.negotiation/ServerService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://ws.negotiation/ServerService/updateRequest" message="tns:update"/>
<output wsam:Action="http://ws.negotiation/ServerService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="send">
<input wsam:Action="http://ws.negotiation/ServerService/send" message="tns:send"/>
</operation>
<operation name="getInterlocutors">
<input wsam:Action="http://ws.negotiation/ServerService/getInterlocutorsRequest" message="tns:getInterlocutors"/>
<output wsam:Action="http://ws.negotiation/ServerService/getInterlocutorsResponse" message="tns:getInterlocutorsResponse"/>
</operation>
<operation name="getMessageFrom">
<input wsam:Action="http://ws.negotiation/ServerService/getMessageFromRequest" message="tns:getMessageFrom"/>
<output wsam:Action="http://ws.negotiation/ServerService/getMessageFromResponse" message="tns:getMessageFromResponse"/>
</operation>
<operation name="getAllData">
<input wsam:Action="http://ws.negotiation/ServerService/getAllDataRequest" message="tns:getAllData"/>
<output wsam:Action="http://ws.negotiation/ServerService/getAllDataResponse" message="tns:getAllDataResponse"/>
</operation>
</portType>
<binding name="ServerServicePortBinding" type="tns:ServerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="send">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getInterlocutors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMessageFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerService">
<port name="ServerServicePort" binding="tns:ServerServicePortBinding">
<soap:address location="http://localhost:8080/Server/ServerService"/>
</port>
</service>
</definitions>